<% content_for :breadcrumb do %>
  <!--------------------
  START - Breadcrumbs
  -------------------->
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Home/project/mew</span>
    </li>
  </ul>
  <!--------------------
  END - Breadcrumbs
  -------------------->
<% end %>
<div class="row">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <h6 class="element-header">
        New Note
      </h6>
      <div class="element-box">
        <%= render 'form', note: @note %>

        <h3 class="text-center ">
          <div class="btn btn-light btn-outline-dark">
            <%= link_to 'Back', notes_path %>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>
