<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<div class="text-center">
  <div class="btn btn-light btn-outline-dark">
    <%= link_to 'Show', project_task_path(@project, @task) %>
  </div>
   |
  <div class="btn btn-light btn-outline-dark">
    <%= link_to 'Back', project_tasks_path(@project) %>
  </div>
</div>
