<div class="content-i">
  <div class="content-box">
    <div class="element-wrapper">
      <div class="element-box">
        <h5 class="form-header">
          Feather Icons
        </h5>
        <div class="form-desc">
          Simply beautiful open source icons, for more info <a href="https://feathericons.com/">click here</a>
        </div>
        <ul class="demo-icons-list">
          <li>
            <a href="#"><i class="icon-feather-activity"></i><span>icon-feather-activity</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-airplay"></i><span>icon-feather-airplay</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-alert-circle"></i><span>icon-feather-alert-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-alert-octagon"></i><span>icon-feather-alert-octagon</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-alert-triangle"></i><span>icon-feather-alert-triangle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-align-center"></i><span>icon-feather-align-center</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-align-justify"></i><span>icon-feather-align-justify</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-align-left"></i><span>icon-feather-align-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-align-right"></i><span>icon-feather-align-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-anchor"></i><span>icon-feather-anchor</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-aperture"></i><span>icon-feather-aperture</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-down"></i><span>icon-feather-arrow-down</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-down-circle"></i><span>icon-feather-arrow-down-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-down-left"></i><span>icon-feather-arrow-down-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-down-right"></i><span>icon-feather-arrow-down-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-left"></i><span>icon-feather-arrow-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-left-circle"></i><span>icon-feather-arrow-left-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-right"></i><span>icon-feather-arrow-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-right-circle"></i><span>icon-feather-arrow-right-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-up"></i><span>icon-feather-arrow-up</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-up-circle"></i><span>icon-feather-arrow-up-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-up-left"></i><span>icon-feather-arrow-up-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-arrow-up-right"></i><span>icon-feather-arrow-up-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-at-sign"></i><span>icon-feather-at-sign</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-award"></i><span>icon-feather-award</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-bar-chart"></i><span>icon-feather-bar-chart</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-bar-chart-2"></i><span>icon-feather-bar-chart-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-battery"></i><span>icon-feather-battery</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-battery-charging"></i><span>icon-feather-battery-charging</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-bell"></i><span>icon-feather-bell</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-bell-off"></i><span>icon-feather-bell-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-bluetooth"></i><span>icon-feather-bluetooth</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-bold"></i><span>icon-feather-bold</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-book"></i><span>icon-feather-book</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-book-open"></i><span>icon-feather-book-open</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-bookmark"></i><span>icon-feather-bookmark</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-box"></i><span>icon-feather-box</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-briefcase"></i><span>icon-feather-briefcase</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-calendar"></i><span>icon-feather-calendar</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-camera"></i><span>icon-feather-camera</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-camera-off"></i><span>icon-feather-camera-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cast"></i><span>icon-feather-cast</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-check"></i><span>icon-feather-check</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-check-circle"></i><span>icon-feather-check-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-check-square"></i><span>icon-feather-check-square</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevron-down"></i><span>icon-feather-chevron-down</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevron-left"></i><span>icon-feather-chevron-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevron-right"></i><span>icon-feather-chevron-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevron-up"></i><span>icon-feather-chevron-up</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevrons-down"></i><span>icon-feather-chevrons-down</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevrons-left"></i><span>icon-feather-chevrons-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevrons-right"></i><span>icon-feather-chevrons-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chevrons-up"></i><span>icon-feather-chevrons-up</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-chrome"></i><span>icon-feather-chrome</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-circle"></i><span>icon-feather-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-clipboard"></i><span>icon-feather-clipboard</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-clock"></i><span>icon-feather-clock</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cloud"></i><span>icon-feather-cloud</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cloud-drizzle"></i><span>icon-feather-cloud-drizzle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cloud-lightning"></i><span>icon-feather-cloud-lightning</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cloud-off"></i><span>icon-feather-cloud-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cloud-rain"></i><span>icon-feather-cloud-rain</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cloud-snow"></i><span>icon-feather-cloud-snow</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-code"></i><span>icon-feather-code</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-codepen"></i><span>icon-feather-codepen</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-command"></i><span>icon-feather-command</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-compass"></i><span>icon-feather-compass</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-copy"></i><span>icon-feather-copy</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-down-left"></i><span>icon-feather-corner-down-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-down-right"></i><span>icon-feather-corner-down-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-left-down"></i><span>icon-feather-corner-left-down</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-left-up"></i><span>icon-feather-corner-left-up</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-right-down"></i><span>icon-feather-corner-right-down</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-right-up"></i><span>icon-feather-corner-right-up</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-up-left"></i><span>icon-feather-corner-up-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-corner-up-right"></i><span>icon-feather-corner-up-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-cpu"></i><span>icon-feather-cpu</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-credit-card"></i><span>icon-feather-credit-card</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-crop"></i><span>icon-feather-crop</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-crosshair"></i><span>icon-feather-crosshair</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-database"></i><span>icon-feather-database</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-delete"></i><span>icon-feather-delete</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-disc"></i><span>icon-feather-disc</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-dollar-sign"></i><span>icon-feather-dollar-sign</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-download"></i><span>icon-feather-download</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-download-cloud"></i><span>icon-feather-download-cloud</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-droplet"></i><span>icon-feather-droplet</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-edit"></i><span>icon-feather-edit</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-edit-2"></i><span>icon-feather-edit-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-edit-3"></i><span>icon-feather-edit-3</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-external-link"></i><span>icon-feather-external-link</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-eye"></i><span>icon-feather-eye</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-eye-off"></i><span>icon-feather-eye-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-facebook"></i><span>icon-feather-facebook</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-fast-forward"></i><span>icon-feather-fast-forward</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-feather"></i><span>icon-feather-feather</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-file"></i><span>icon-feather-file</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-file-minus"></i><span>icon-feather-file-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-file-plus"></i><span>icon-feather-file-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-file-text"></i><span>icon-feather-file-text</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-film"></i><span>icon-feather-film</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-filter"></i><span>icon-feather-filter</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-flag"></i><span>icon-feather-flag</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-folder"></i><span>icon-feather-folder</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-folder-minus"></i><span>icon-feather-folder-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-folder-plus"></i><span>icon-feather-folder-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-git-branch"></i><span>icon-feather-git-branch</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-git-commit"></i><span>icon-feather-git-commit</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-git-merge"></i><span>icon-feather-git-merge</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-git-pull-request"></i><span>icon-feather-git-pull-request</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-github"></i><span>icon-feather-github</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-gitlab"></i><span>icon-feather-gitlab</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-globe"></i><span>icon-feather-globe</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-grid"></i><span>icon-feather-grid</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-hard-drive"></i><span>icon-feather-hard-drive</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-hash"></i><span>icon-feather-hash</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-headphones"></i><span>icon-feather-headphones</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-heart"></i><span>icon-feather-heart</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-help-circle"></i><span>icon-feather-help-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-home"></i><span>icon-feather-home</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-image"></i><span>icon-feather-image</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-inbox"></i><span>icon-feather-inbox</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-info"></i><span>icon-feather-info</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-instagram"></i><span>icon-feather-instagram</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-italic"></i><span>icon-feather-italic</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-layers"></i><span>icon-feather-layers</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-layout"></i><span>icon-feather-layout</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-life-buoy"></i><span>icon-feather-life-buoy</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-link"></i><span>icon-feather-link</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-link-2"></i><span>icon-feather-link-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-linkedin"></i><span>icon-feather-linkedin</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-list"></i><span>icon-feather-list</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-loader"></i><span>icon-feather-loader</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-lock"></i><span>icon-feather-lock</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-log-in"></i><span>icon-feather-log-in</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-log-out"></i><span>icon-feather-log-out</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-mail"></i><span>icon-feather-mail</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-map"></i><span>icon-feather-map</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-map-pin"></i><span>icon-feather-map-pin</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-maximize"></i><span>icon-feather-maximize</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-maximize-2"></i><span>icon-feather-maximize-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-menu"></i><span>icon-feather-menu</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-message-circle"></i><span>icon-feather-message-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-message-square"></i><span>icon-feather-message-square</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-mic"></i><span>icon-feather-mic</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-mic-off"></i><span>icon-feather-mic-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-minimize"></i><span>icon-feather-minimize</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-minimize-2"></i><span>icon-feather-minimize-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-minus"></i><span>icon-feather-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-minus-circle"></i><span>icon-feather-minus-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-minus-square"></i><span>icon-feather-minus-square</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-monitor"></i><span>icon-feather-monitor</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-moon"></i><span>icon-feather-moon</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-more-horizontal"></i><span>icon-feather-more-horizontal</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-more-vertical"></i><span>icon-feather-more-vertical</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-move"></i><span>icon-feather-move</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-music"></i><span>icon-feather-music</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-navigation"></i><span>icon-feather-navigation</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-navigation-2"></i><span>icon-feather-navigation-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-octagon"></i><span>icon-feather-octagon</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-package"></i><span>icon-feather-package</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-paperclip"></i><span>icon-feather-paperclip</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-pause"></i><span>icon-feather-pause</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-pause-circle"></i><span>icon-feather-pause-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-percent"></i><span>icon-feather-percent</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-phone"></i><span>icon-feather-phone</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-phone-call"></i><span>icon-feather-phone-call</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-phone-forwarded"></i><span>icon-feather-phone-forwarded</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-phone-incoming"></i><span>icon-feather-phone-incoming</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-phone-missed"></i><span>icon-feather-phone-missed</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-phone-off"></i><span>icon-feather-phone-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-phone-outgoing"></i><span>icon-feather-phone-outgoing</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-pie-chart"></i><span>icon-feather-pie-chart</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-play"></i><span>icon-feather-play</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-play-circle"></i><span>icon-feather-play-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-plus"></i><span>icon-feather-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-plus-circle"></i><span>icon-feather-plus-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-plus-square"></i><span>icon-feather-plus-square</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-pocket"></i><span>icon-feather-pocket</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-power"></i><span>icon-feather-power</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-printer"></i><span>icon-feather-printer</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-radio"></i><span>icon-feather-radio</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-refresh-ccw"></i><span>icon-feather-refresh-ccw</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-refresh-cw"></i><span>icon-feather-refresh-cw</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-repeat"></i><span>icon-feather-repeat</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-rewind"></i><span>icon-feather-rewind</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-rotate-ccw"></i><span>icon-feather-rotate-ccw</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-rotate-cw"></i><span>icon-feather-rotate-cw</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-rss"></i><span>icon-feather-rss</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-save"></i><span>icon-feather-save</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-scissors"></i><span>icon-feather-scissors</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-search"></i><span>icon-feather-search</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-send"></i><span>icon-feather-send</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-server"></i><span>icon-feather-server</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-settings"></i><span>icon-feather-settings</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-share"></i><span>icon-feather-share</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-share-2"></i><span>icon-feather-share-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-shield"></i><span>icon-feather-shield</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-shield-off"></i><span>icon-feather-shield-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-shopping-bag"></i><span>icon-feather-shopping-bag</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-shopping-cart"></i><span>icon-feather-shopping-cart</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-shuffle"></i><span>icon-feather-shuffle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-sidebar"></i><span>icon-feather-sidebar</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-skip-back"></i><span>icon-feather-skip-back</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-skip-forward"></i><span>icon-feather-skip-forward</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-slack"></i><span>icon-feather-slack</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-slash"></i><span>icon-feather-slash</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-sliders"></i><span>icon-feather-sliders</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-smartphone"></i><span>icon-feather-smartphone</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-speaker"></i><span>icon-feather-speaker</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-square"></i><span>icon-feather-square</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-star"></i><span>icon-feather-star</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-stop-circle"></i><span>icon-feather-stop-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-sun"></i><span>icon-feather-sun</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-sunrise"></i><span>icon-feather-sunrise</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-sunset"></i><span>icon-feather-sunset</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-tablet"></i><span>icon-feather-tablet</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-tag"></i><span>icon-feather-tag</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-target"></i><span>icon-feather-target</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-terminal"></i><span>icon-feather-terminal</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-thermometer"></i><span>icon-feather-thermometer</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-thumbs-down"></i><span>icon-feather-thumbs-down</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-thumbs-up"></i><span>icon-feather-thumbs-up</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-toggle-left"></i><span>icon-feather-toggle-left</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-toggle-right"></i><span>icon-feather-toggle-right</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-trash"></i><span>icon-feather-trash</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-trash-2"></i><span>icon-feather-trash-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-trending-down"></i><span>icon-feather-trending-down</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-trending-up"></i><span>icon-feather-trending-up</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-triangle"></i><span>icon-feather-triangle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-truck"></i><span>icon-feather-truck</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-tv"></i><span>icon-feather-tv</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-twitter"></i><span>icon-feather-twitter</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-type"></i><span>icon-feather-type</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-umbrella"></i><span>icon-feather-umbrella</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-underline"></i><span>icon-feather-underline</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-unlock"></i><span>icon-feather-unlock</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-upload"></i><span>icon-feather-upload</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-upload-cloud"></i><span>icon-feather-upload-cloud</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-user"></i><span>icon-feather-user</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-user-check"></i><span>icon-feather-user-check</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-user-minus"></i><span>icon-feather-user-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-user-plus"></i><span>icon-feather-user-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-user-x"></i><span>icon-feather-user-x</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-users"></i><span>icon-feather-users</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-video"></i><span>icon-feather-video</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-video-off"></i><span>icon-feather-video-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-voicemail"></i><span>icon-feather-voicemail</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-volume"></i><span>icon-feather-volume</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-volume-1"></i><span>icon-feather-volume-1</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-volume-2"></i><span>icon-feather-volume-2</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-volume-x"></i><span>icon-feather-volume-x</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-watch"></i><span>icon-feather-watch</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-wifi"></i><span>icon-feather-wifi</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-wifi-off"></i><span>icon-feather-wifi-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-wind"></i><span>icon-feather-wind</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-x"></i><span>icon-feather-x</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-x-circle"></i><span>icon-feather-x-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-x-square"></i><span>icon-feather-x-square</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-zap"></i><span>icon-feather-zap</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-zap-off"></i><span>icon-feather-zap-off</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-zoom-in"></i><span>icon-feather-zoom-in</span></a>
          </li>
          <li>
            <a href="#"><i class="icon-feather-zoom-out"></i><span>icon-feather-zoom-out</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>    
