
<div class="content-i">
  <div class="content-box">
    <div class="element-wrapper">
      <div class="element-box">
        <h5 class="form-header">
          Icons used in demo
        </h5>
        <div class="form-desc">
          These icons are used in a demo.
        </div>
        <ul class="demo-icons-list">
          <li>
            <a href="#"><i class="os-icon os-icon-activity"></i><span>os-icon os-icon-activity</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-airplay"></i><span>os-icon os-icon-airplay</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-alert-circle"></i><span>os-icon os-icon-alert-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-alert-octagon"></i><span>os-icon os-icon-alert-octagon</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-alert-triangle"></i><span>os-icon os-icon-alert-triangle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-align-center"></i><span>os-icon os-icon-align-center</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-align-justify"></i><span>os-icon os-icon-align-justify</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-align-left"></i><span>os-icon os-icon-align-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-align-right"></i><span>os-icon os-icon-align-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-anchor"></i><span>os-icon os-icon-anchor</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-aperture"></i><span>os-icon os-icon-aperture</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down6"></i><span>os-icon os-icon-arrow-down6</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down-circle"></i><span>os-icon os-icon-arrow-down-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down-left"></i><span>os-icon os-icon-arrow-down-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down-right"></i><span>os-icon os-icon-arrow-down-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left6"></i><span>os-icon os-icon-arrow-left6</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left-circle"></i><span>os-icon os-icon-arrow-left-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right7"></i><span>os-icon os-icon-arrow-right7</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right-circle"></i><span>os-icon os-icon-arrow-right-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up6"></i><span>os-icon os-icon-arrow-up6</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up-circle"></i><span>os-icon os-icon-arrow-up-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up-left"></i><span>os-icon os-icon-arrow-up-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up-right"></i><span>os-icon os-icon-arrow-up-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-at-sign"></i><span>os-icon os-icon-at-sign</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-award"></i><span>os-icon os-icon-award</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bar-chart"></i><span>os-icon os-icon-bar-chart</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bar-chart-2"></i><span>os-icon os-icon-bar-chart-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-battery"></i><span>os-icon os-icon-battery</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-battery-charging"></i><span>os-icon os-icon-battery-charging</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bell"></i><span>os-icon os-icon-bell</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bell-off"></i><span>os-icon os-icon-bell-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bluetooth"></i><span>os-icon os-icon-bluetooth</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bold"></i><span>os-icon os-icon-bold</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-book"></i><span>os-icon os-icon-book</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-book-open"></i><span>os-icon os-icon-book-open</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bookmark"></i><span>os-icon os-icon-bookmark</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-box"></i><span>os-icon os-icon-box</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-briefcase"></i><span>os-icon os-icon-briefcase</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-calendar"></i><span>os-icon os-icon-calendar</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-camera"></i><span>os-icon os-icon-camera</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-camera-off"></i><span>os-icon os-icon-camera-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cast"></i><span>os-icon os-icon-cast</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-check"></i><span>os-icon os-icon-check</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-check-circle"></i><span>os-icon os-icon-check-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-check-square"></i><span>os-icon os-icon-check-square</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevron-down"></i><span>os-icon os-icon-chevron-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevron-left"></i><span>os-icon os-icon-chevron-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevron-right"></i><span>os-icon os-icon-chevron-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevron-up"></i><span>os-icon os-icon-chevron-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevrons-down"></i><span>os-icon os-icon-chevrons-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevrons-left"></i><span>os-icon os-icon-chevrons-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevrons-right"></i><span>os-icon os-icon-chevrons-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chevrons-up"></i><span>os-icon os-icon-chevrons-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-chrome"></i><span>os-icon os-icon-chrome</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-circle"></i><span>os-icon os-icon-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-clipboard"></i><span>os-icon os-icon-clipboard</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-clock"></i><span>os-icon os-icon-clock</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cloud"></i><span>os-icon os-icon-cloud</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cloud-drizzle"></i><span>os-icon os-icon-cloud-drizzle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cloud-lightning"></i><span>os-icon os-icon-cloud-lightning</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cloud-off"></i><span>os-icon os-icon-cloud-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cloud-rain"></i><span>os-icon os-icon-cloud-rain</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cloud-snow"></i><span>os-icon os-icon-cloud-snow</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-code"></i><span>os-icon os-icon-code</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-codepen"></i><span>os-icon os-icon-codepen</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-command"></i><span>os-icon os-icon-command</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-compass"></i><span>os-icon os-icon-compass</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-copy"></i><span>os-icon os-icon-copy</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-down-left"></i><span>os-icon os-icon-corner-down-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-down-right"></i><span>os-icon os-icon-corner-down-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-left-down"></i><span>os-icon os-icon-corner-left-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-left-up"></i><span>os-icon os-icon-corner-left-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-right-down"></i><span>os-icon os-icon-corner-right-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-right-up"></i><span>os-icon os-icon-corner-right-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-up-left"></i><span>os-icon os-icon-corner-up-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-corner-up-right"></i><span>os-icon os-icon-corner-up-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cpu"></i><span>os-icon os-icon-cpu</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-credit-card"></i><span>os-icon os-icon-credit-card</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-crop"></i><span>os-icon os-icon-crop</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-crosshair"></i><span>os-icon os-icon-crosshair</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-database"></i><span>os-icon os-icon-database</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-delete"></i><span>os-icon os-icon-delete</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-disc"></i><span>os-icon os-icon-disc</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-dollar-sign"></i><span>os-icon os-icon-dollar-sign</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-download"></i><span>os-icon os-icon-download</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-download-cloud"></i><span>os-icon os-icon-download-cloud</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-droplet"></i><span>os-icon os-icon-droplet</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-edit"></i><span>os-icon os-icon-edit</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-edit-2"></i><span>os-icon os-icon-edit-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-edit-32"></i><span>os-icon os-icon-edit-32</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-external-link"></i><span>os-icon os-icon-external-link</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-eye"></i><span>os-icon os-icon-eye</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-eye-off"></i><span>os-icon os-icon-eye-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-facebook2"></i><span>os-icon os-icon-facebook2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-fast-forward"></i><span>os-icon os-icon-fast-forward</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-feather"></i><span>os-icon os-icon-feather</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-file"></i><span>os-icon os-icon-file</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-file-minus"></i><span>os-icon os-icon-file-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-file-plus"></i><span>os-icon os-icon-file-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-file-text"></i><span>os-icon os-icon-file-text</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-film"></i><span>os-icon os-icon-film</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-filter"></i><span>os-icon os-icon-filter</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-flag"></i><span>os-icon os-icon-flag</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-folder"></i><span>os-icon os-icon-folder</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-folder-minus"></i><span>os-icon os-icon-folder-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-folder-plus"></i><span>os-icon os-icon-folder-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-git-branch"></i><span>os-icon os-icon-git-branch</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-git-commit"></i><span>os-icon os-icon-git-commit</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-git-merge"></i><span>os-icon os-icon-git-merge</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-git-pull-request"></i><span>os-icon os-icon-git-pull-request</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-github"></i><span>os-icon os-icon-github</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-gitlab"></i><span>os-icon os-icon-gitlab</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-globe"></i><span>os-icon os-icon-globe</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid"></i><span>os-icon os-icon-grid</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-hard-drive"></i><span>os-icon os-icon-hard-drive</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-hash"></i><span>os-icon os-icon-hash</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-headphones"></i><span>os-icon os-icon-headphones</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-heart"></i><span>os-icon os-icon-heart</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-help-circle"></i><span>os-icon os-icon-help-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-home"></i><span>os-icon os-icon-home</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-image"></i><span>os-icon os-icon-image</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-inbox"></i><span>os-icon os-icon-inbox</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-info"></i><span>os-icon os-icon-info</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-instagram"></i><span>os-icon os-icon-instagram</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-italic"></i><span>os-icon os-icon-italic</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-layers"></i><span>os-icon os-icon-layers</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-layout"></i><span>os-icon os-icon-layout</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-life-buoy"></i><span>os-icon os-icon-life-buoy</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-link"></i><span>os-icon os-icon-link</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-link-2"></i><span>os-icon os-icon-link-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-linkedin"></i><span>os-icon os-icon-linkedin</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-list"></i><span>os-icon os-icon-list</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-loader"></i><span>os-icon os-icon-loader</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-lock"></i><span>os-icon os-icon-lock</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-log-in"></i><span>os-icon os-icon-log-in</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-log-out"></i><span>os-icon os-icon-log-out</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mail"></i><span>os-icon os-icon-mail</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-map"></i><span>os-icon os-icon-map</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-map-pin"></i><span>os-icon os-icon-map-pin</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-maximize"></i><span>os-icon os-icon-maximize</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-maximize-2"></i><span>os-icon os-icon-maximize-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-menu"></i><span>os-icon os-icon-menu</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-message-circle"></i><span>os-icon os-icon-message-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-message-square"></i><span>os-icon os-icon-message-square</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mic"></i><span>os-icon os-icon-mic</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mic-off"></i><span>os-icon os-icon-mic-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-minimize"></i><span>os-icon os-icon-minimize</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-minimize-2"></i><span>os-icon os-icon-minimize-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-minus2"></i><span>os-icon os-icon-minus2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-minus-circle"></i><span>os-icon os-icon-minus-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-minus-square"></i><span>os-icon os-icon-minus-square</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-monitor"></i><span>os-icon os-icon-monitor</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-moon"></i><span>os-icon os-icon-moon</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-more-horizontal"></i><span>os-icon os-icon-more-horizontal</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-more-vertical"></i><span>os-icon os-icon-more-vertical</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-move"></i><span>os-icon os-icon-move</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-music"></i><span>os-icon os-icon-music</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-navigation"></i><span>os-icon os-icon-navigation</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-navigation-2"></i><span>os-icon os-icon-navigation-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-octagon"></i><span>os-icon os-icon-octagon</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-package"></i><span>os-icon os-icon-package</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-paperclip"></i><span>os-icon os-icon-paperclip</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pause"></i><span>os-icon os-icon-pause</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pause-circle"></i><span>os-icon os-icon-pause-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-percent"></i><span>os-icon os-icon-percent</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone"></i><span>os-icon os-icon-phone</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-call"></i><span>os-icon os-icon-phone-call</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-forwarded"></i><span>os-icon os-icon-phone-forwarded</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-incoming"></i><span>os-icon os-icon-phone-incoming</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-missed"></i><span>os-icon os-icon-phone-missed</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-off"></i><span>os-icon os-icon-phone-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-outgoing"></i><span>os-icon os-icon-phone-outgoing</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pie-chart"></i><span>os-icon os-icon-pie-chart</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-play"></i><span>os-icon os-icon-play</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-play-circle"></i><span>os-icon os-icon-play-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-plus"></i><span>os-icon os-icon-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-plus-circle"></i><span>os-icon os-icon-plus-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-plus-square"></i><span>os-icon os-icon-plus-square</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pocket"></i><span>os-icon os-icon-pocket</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-power"></i><span>os-icon os-icon-power</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-printer"></i><span>os-icon os-icon-printer</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-radio"></i><span>os-icon os-icon-radio</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-refresh-ccw"></i><span>os-icon os-icon-refresh-ccw</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-refresh-cw"></i><span>os-icon os-icon-refresh-cw</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-repeat"></i><span>os-icon os-icon-repeat</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-rewind"></i><span>os-icon os-icon-rewind</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-rotate-ccw"></i><span>os-icon os-icon-rotate-ccw</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-rotate-cw"></i><span>os-icon os-icon-rotate-cw</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-rss"></i><span>os-icon os-icon-rss</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-save"></i><span>os-icon os-icon-save</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-scissors"></i><span>os-icon os-icon-scissors</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-search2"></i><span>os-icon os-icon-search2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-send"></i><span>os-icon os-icon-send</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-server"></i><span>os-icon os-icon-server</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-settings"></i><span>os-icon os-icon-settings</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-share"></i><span>os-icon os-icon-share</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-share-2"></i><span>os-icon os-icon-share-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-shield"></i><span>os-icon os-icon-shield</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-shield-off"></i><span>os-icon os-icon-shield-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-shopping-bag"></i><span>os-icon os-icon-shopping-bag</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-shopping-cart"></i><span>os-icon os-icon-shopping-cart</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-shuffle"></i><span>os-icon os-icon-shuffle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-sidebar"></i><span>os-icon os-icon-sidebar</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-skip-back"></i><span>os-icon os-icon-skip-back</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-skip-forward"></i><span>os-icon os-icon-skip-forward</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-slack"></i><span>os-icon os-icon-slack</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-slash"></i><span>os-icon os-icon-slash</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-sliders"></i><span>os-icon os-icon-sliders</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-smartphone"></i><span>os-icon os-icon-smartphone</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-speaker"></i><span>os-icon os-icon-speaker</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-square"></i><span>os-icon os-icon-square</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-star"></i><span>os-icon os-icon-star</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-stop-circle"></i><span>os-icon os-icon-stop-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-sun"></i><span>os-icon os-icon-sun</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-sunrise"></i><span>os-icon os-icon-sunrise</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-sunset"></i><span>os-icon os-icon-sunset</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-tablet"></i><span>os-icon os-icon-tablet</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-tag"></i><span>os-icon os-icon-tag</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-target"></i><span>os-icon os-icon-target</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-terminal"></i><span>os-icon os-icon-terminal</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-thermometer"></i><span>os-icon os-icon-thermometer</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-thumbs-down"></i><span>os-icon os-icon-thumbs-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-thumbs-up"></i><span>os-icon os-icon-thumbs-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-toggle-left"></i><span>os-icon os-icon-toggle-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-toggle-right"></i><span>os-icon os-icon-toggle-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-trash"></i><span>os-icon os-icon-trash</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-trash-2"></i><span>os-icon os-icon-trash-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-trending-down"></i><span>os-icon os-icon-trending-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-trending-up"></i><span>os-icon os-icon-trending-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-triangle"></i><span>os-icon os-icon-triangle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-truck"></i><span>os-icon os-icon-truck</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-tv"></i><span>os-icon os-icon-tv</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-twitter2"></i><span>os-icon os-icon-twitter2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-type"></i><span>os-icon os-icon-type</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-umbrella"></i><span>os-icon os-icon-umbrella</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-underline"></i><span>os-icon os-icon-underline</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-unlock"></i><span>os-icon os-icon-unlock</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-upload"></i><span>os-icon os-icon-upload</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-upload-cloud"></i><span>os-icon os-icon-upload-cloud</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-user"></i><span>os-icon os-icon-user</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-user-check"></i><span>os-icon os-icon-user-check</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-user-minus"></i><span>os-icon os-icon-user-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-user-plus"></i><span>os-icon os-icon-user-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-user-x"></i><span>os-icon os-icon-user-x</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-users"></i><span>os-icon os-icon-users</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-video"></i><span>os-icon os-icon-video</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-video-off"></i><span>os-icon os-icon-video-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-voicemail"></i><span>os-icon os-icon-voicemail</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-volume"></i><span>os-icon os-icon-volume</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-volume-1"></i><span>os-icon os-icon-volume-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-volume-2"></i><span>os-icon os-icon-volume-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-volume-x"></i><span>os-icon os-icon-volume-x</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-watch"></i><span>os-icon os-icon-watch</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-wifi"></i><span>os-icon os-icon-wifi</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-wifi-off"></i><span>os-icon os-icon-wifi-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-wind"></i><span>os-icon os-icon-wind</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-x"></i><span>os-icon os-icon-x</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-x-circle"></i><span>os-icon os-icon-x-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-x-square"></i><span>os-icon os-icon-x-square</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-zap"></i><span>os-icon os-icon-zap</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-zap-off"></i><span>os-icon os-icon-zap-off</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-zoom-in"></i><span>os-icon os-icon-zoom-in</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-zoom-out"></i><span>os-icon os-icon-zoom-out</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-star-full"></i><span>os-icon os-icon-star-full</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right6"></i><span>os-icon os-icon-arrow-right6</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left7"></i><span>os-icon os-icon-arrow-left7</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-2-right"></i><span>os-icon os-icon-arrow-2-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-minus"></i><span>os-icon os-icon-minus</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right"></i><span>os-icon os-icon-arrow-right</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right2"></i><span>os-icon os-icon-arrow-right2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right3"></i><span>os-icon os-icon-arrow-right3</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right4"></i><span>os-icon os-icon-arrow-right4</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-right5"></i><span>os-icon os-icon-arrow-right5</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left"></i><span>os-icon os-icon-arrow-left</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left2"></i><span>os-icon os-icon-arrow-left2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left3"></i><span>os-icon os-icon-arrow-left3</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left4"></i><span>os-icon os-icon-arrow-left4</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up"></i><span>os-icon os-icon-arrow-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down"></i><span>os-icon os-icon-arrow-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-left5"></i><span>os-icon os-icon-arrow-left5</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down2"></i><span>os-icon os-icon-arrow-down2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down3"></i><span>os-icon os-icon-arrow-down3</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down4"></i><span>os-icon os-icon-arrow-down4</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up2"></i><span>os-icon os-icon-arrow-up2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up3"></i><span>os-icon os-icon-arrow-up3</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-down5"></i><span>os-icon os-icon-arrow-down5</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up4"></i><span>os-icon os-icon-arrow-up4</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-up5"></i><span>os-icon os-icon-arrow-up5</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-search"></i><span>os-icon os-icon-search</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-34"></i><span>os-icon os-icon-ui-34</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-21"></i><span>os-icon os-icon-ui-21</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-documents-15"></i><span>os-icon os-icon-documents-15</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-documents-17"></i><span>os-icon os-icon-documents-17</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-documents-11"></i><span>os-icon os-icon-documents-11</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-documents-13"></i><span>os-icon os-icon-documents-13</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-23"></i><span>os-icon os-icon-ui-23</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-home-11"></i><span>os-icon os-icon-home-11</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-09"></i><span>os-icon os-icon-ui-09</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-old-tv-2"></i><span>os-icon os-icon-old-tv-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-fire"></i><span>os-icon os-icon-fire</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-home-10"></i><span>os-icon os-icon-home-10</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-home-09"></i><span>os-icon os-icon-home-09</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-home-13"></i><span>os-icon os-icon-home-13</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-home-34"></i><span>os-icon os-icon-home-34</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-90"></i><span>os-icon os-icon-ui-90</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-03"></i><span>os-icon os-icon-ui-03</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-83"></i><span>os-icon os-icon-ui-83</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-74"></i><span>os-icon os-icon-ui-74</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pencil-12"></i><span>os-icon os-icon-pencil-12</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-33"></i><span>os-icon os-icon-ui-33</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-49"></i><span>os-icon os-icon-ui-49</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-10"></i><span>os-icon os-icon-grid-10</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-common-03"></i><span>os-icon os-icon-common-03</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-22"></i><span>os-icon os-icon-ui-22</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-46"></i><span>os-icon os-icon-ui-46</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-basic-1-138-quotes"></i><span>os-icon os-icon-basic-1-138-quotes</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-07"></i><span>os-icon os-icon-ui-07</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-social-09"></i><span>os-icon os-icon-social-09</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-finance-28"></i><span>os-icon os-icon-finance-28</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-finance-29"></i><span>os-icon os-icon-finance-29</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-checkmark"></i><span>os-icon os-icon-checkmark</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-93"></i><span>os-icon os-icon-ui-93</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mail-14"></i><span>os-icon os-icon-mail-14</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-15"></i><span>os-icon os-icon-phone-15</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-18"></i><span>os-icon os-icon-phone-18</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-55"></i><span>os-icon os-icon-ui-55</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mail-19"></i><span>os-icon os-icon-mail-19</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mail-18"></i><span>os-icon os-icon-mail-18</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-18"></i><span>os-icon os-icon-grid-18</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-02"></i><span>os-icon os-icon-ui-02</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-37"></i><span>os-icon os-icon-ui-37</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-common-07"></i><span>os-icon os-icon-common-07</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-54"></i><span>os-icon os-icon-ui-54</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-44"></i><span>os-icon os-icon-ui-44</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-15"></i><span>os-icon os-icon-ui-15</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-documents-03"></i><span>os-icon os-icon-documents-03</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-92"></i><span>os-icon os-icon-ui-92</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-phone-21"></i><span>os-icon os-icon-phone-21</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-documents-07"></i><span>os-icon os-icon-documents-07</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-others-29"></i><span>os-icon os-icon-others-29</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-65"></i><span>os-icon os-icon-ui-65</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-51"></i><span>os-icon os-icon-ui-51</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mail-07"></i><span>os-icon os-icon-mail-07</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mail-01"></i><span>os-icon os-icon-mail-01</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-others-43"></i><span>os-icon os-icon-others-43</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-mail-12"></i><span>os-icon os-icon-mail-12</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-signs-11"></i><span>os-icon os-icon-signs-11</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-coins-4"></i><span>os-icon os-icon-coins-4</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-user-male-circle2"></i><span>os-icon os-icon-user-male-circle2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-emoticon-smile"></i><span>os-icon os-icon-emoticon-smile</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-robot-2"></i><span>os-icon os-icon-robot-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-robot-1"></i><span>os-icon os-icon-robot-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-crown"></i><span>os-icon os-icon-crown</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cancel-circle"></i><span>os-icon os-icon-cancel-circle</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cancel-square"></i><span>os-icon os-icon-cancel-square</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-close"></i><span>os-icon os-icon-close</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-circles"></i><span>os-icon os-icon-grid-circles</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-squares-22"></i><span>os-icon os-icon-grid-squares-22</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-squares2"></i><span>os-icon os-icon-grid-squares2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-tasks-checked"></i><span>os-icon os-icon-tasks-checked</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-hierarchy-structure-2"></i><span>os-icon os-icon-hierarchy-structure-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-agenda-1"></i><span>os-icon os-icon-agenda-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-cv-2"></i><span>os-icon os-icon-cv-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-squares-2"></i><span>os-icon os-icon-grid-squares-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-squares"></i><span>os-icon os-icon-grid-squares</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-calendar-time"></i><span>os-icon os-icon-calendar-time</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-twitter"></i><span>os-icon os-icon-twitter</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-facebook"></i><span>os-icon os-icon-facebook</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pie-chart-2"></i><span>os-icon os-icon-pie-chart-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pie-chart-1"></i><span>os-icon os-icon-pie-chart-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pie-chart-3"></i><span>os-icon os-icon-pie-chart-3</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-donut-chart-1"></i><span>os-icon os-icon-donut-chart-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bar-chart-up"></i><span>os-icon os-icon-bar-chart-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bar-chart-stats-up"></i><span>os-icon os-icon-bar-chart-stats-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-hamburger-menu-2"></i><span>os-icon os-icon-hamburger-menu-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-hamburger-menu-1"></i><span>os-icon os-icon-hamburger-menu-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-email-2-at"></i><span>os-icon os-icon-email-2-at</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-email-2-at2"></i><span>os-icon os-icon-email-2-at2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-fingerprint"></i><span>os-icon os-icon-fingerprint</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-basic-2-259-calendar"></i><span>os-icon os-icon-basic-2-259-calendar</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-2-up"></i><span>os-icon os-icon-arrow-2-up</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-arrow-2-down"></i><span>os-icon os-icon-arrow-2-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-bar-chart-down"></i><span>os-icon os-icon-bar-chart-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-graph-down"></i><span>os-icon os-icon-graph-down</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pencil-1"></i><span>os-icon os-icon-pencil-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-edit-3"></i><span>os-icon os-icon-edit-3</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-edit-1"></i><span>os-icon os-icon-edit-1</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-database-remove"></i><span>os-icon os-icon-database-remove</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-pencil-2"></i><span>os-icon os-icon-pencil-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-link-3"></i><span>os-icon os-icon-link-3</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-email-forward"></i><span>os-icon os-icon-email-forward</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-delivery-box-2"></i><span>os-icon os-icon-delivery-box-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-wallet-loaded"></i><span>os-icon os-icon-wallet-loaded</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-newspaper"></i><span>os-icon os-icon-newspaper</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-window-content"></i><span>os-icon os-icon-window-content</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-donut-chart-2"></i><span>os-icon os-icon-donut-chart-2</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-text-input"></i><span>os-icon os-icon-text-input</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-user-male-circle"></i><span>os-icon os-icon-user-male-circle</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
