
<div class="content-i">
  <div class="content-box">
    <div class="element-wrapper">
      <div class="element-box">
        <h5 class="form-header">
          Picons Social
        </h5>
        <div class="form-desc">
          Powered by Picons Social set, for more info <a href="https://picons.me/download-social.php">click here</a>
        </div>
        <ul class="demo-icons-list">
          <li>
            <a href="#"><i class="picons-social-icon-forrst"></i><span>picons-social-icon-forrst</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-dribbble"></i><span>picons-social-icon-dribbble</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-twitter"></i><span>picons-social-icon-twitter</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-flickr"></i><span>picons-social-icon-flickr</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-twitter2"></i><span>picons-social-icon-twitter2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-facebook"></i><span>picons-social-icon-facebook</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-skype"></i><span>picons-social-icon-skype</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-digg"></i><span>picons-social-icon-digg</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google"></i><span>picons-social-icon-google</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-html5"></i><span>picons-social-icon-html5</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-linkedin"></i><span>picons-social-icon-linkedin</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-lastfm"></i><span>picons-social-icon-lastfm</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-vimeo"></i><span>picons-social-icon-vimeo</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-yahoo"></i><span>picons-social-icon-yahoo</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-tumblr"></i><span>picons-social-icon-tumblr</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-apple"></i><span>picons-social-icon-apple</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-windows"></i><span>picons-social-icon-windows</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-youtube"></i><span>picons-social-icon-youtube</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-delicious"></i><span>picons-social-icon-delicious</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-rss"></i><span>picons-social-icon-rss</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-picasa"></i><span>picons-social-icon-picasa</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-deviantart"></i><span>picons-social-icon-deviantart</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-whatsapp"></i><span>picons-social-icon-whatsapp</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-snapchat"></i><span>picons-social-icon-snapchat</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-blogger"></i><span>picons-social-icon-blogger</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-wordpress"></i><span>picons-social-icon-wordpress</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-amazon"></i><span>picons-social-icon-amazon</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-appstore"></i><span>picons-social-icon-appstore</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-paypal"></i><span>picons-social-icon-paypal</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-myspace"></i><span>picons-social-icon-myspace</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-dropbox"></i><span>picons-social-icon-dropbox</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-windows8"></i><span>picons-social-icon-windows8</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-pinterest"></i><span>picons-social-icon-pinterest</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-soundcloud"></i><span>picons-social-icon-soundcloud</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google-drive"></i><span>picons-social-icon-google-drive</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-android"></i><span>picons-social-icon-android</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-behance"></i><span>picons-social-icon-behance</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-instagram"></i><span>picons-social-icon-instagram</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-ebay"></i><span>picons-social-icon-ebay</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google-plus"></i><span>picons-social-icon-google-plus</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-github"></i><span>picons-social-icon-github</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-stackoverflow"></i><span>picons-social-icon-stackoverflow</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-spotify"></i><span>picons-social-icon-spotify</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-stumbleupon"></i><span>picons-social-icon-stumbleupon</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-visa"></i><span>picons-social-icon-visa</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-mastercard"></i><span>picons-social-icon-mastercard</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-amex"></i><span>picons-social-icon-amex</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-ios"></i><span>picons-social-icon-ios</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-osx"></i><span>picons-social-icon-osx</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-evernote"></i><span>picons-social-icon-evernote</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-yelp"></i><span>picons-social-icon-yelp</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-yelp2"></i><span>picons-social-icon-yelp2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-medium"></i><span>picons-social-icon-medium</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-slack"></i><span>picons-social-icon-slack</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-vine"></i><span>picons-social-icon-vine</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-edge"></i><span>picons-social-icon-edge</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-outlook"></i><span>picons-social-icon-outlook</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-pencilcase"></i><span>picons-social-icon-pencilcase</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-play"></i><span>picons-social-icon-play</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-icloud"></i><span>picons-social-icon-icloud</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google-inbox"></i><span>picons-social-icon-google-inbox</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-periscope"></i><span>picons-social-icon-periscope</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-blackberry"></i><span>picons-social-icon-blackberry</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-viber"></i><span>picons-social-icon-viber</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-fb_messenger"></i><span>picons-social-icon-fb_messenger</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-wechat"></i><span>picons-social-icon-wechat</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-gmail"></i><span>picons-social-icon-gmail</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-airbnb"></i><span>picons-social-icon-airbnb</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-angellist"></i><span>picons-social-icon-angellist</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-uber"></i><span>picons-social-icon-uber</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-safari"></i><span>picons-social-icon-safari</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-firefox"></i><span>picons-social-icon-firefox</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-opera"></i><span>picons-social-icon-opera</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-bing"></i><span>picons-social-icon-bing</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-reddit"></i><span>picons-social-icon-reddit</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-producthunt"></i><span>picons-social-icon-producthunt</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-forrst2"></i><span>picons-social-icon-forrst2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-dribbble2"></i><span>picons-social-icon-dribbble2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-twitter3"></i><span>picons-social-icon-twitter3</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-flickr2"></i><span>picons-social-icon-flickr2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-twitter4"></i><span>picons-social-icon-twitter4</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-facebook2"></i><span>picons-social-icon-facebook2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-skype2"></i><span>picons-social-icon-skype2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-digg2"></i><span>picons-social-icon-digg2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google2"></i><span>picons-social-icon-google2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-html52"></i><span>picons-social-icon-html52</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-linkedin2"></i><span>picons-social-icon-linkedin2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-lastfm2"></i><span>picons-social-icon-lastfm2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-vimeo2"></i><span>picons-social-icon-vimeo2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-yahoo2"></i><span>picons-social-icon-yahoo2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-tumblr2"></i><span>picons-social-icon-tumblr2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-apple2"></i><span>picons-social-icon-apple2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-windows2"></i><span>picons-social-icon-windows2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-youtube2"></i><span>picons-social-icon-youtube2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-delicious2"></i><span>picons-social-icon-delicious2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-rss2"></i><span>picons-social-icon-rss2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-picasa2"></i><span>picons-social-icon-picasa2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-deviantart2"></i><span>picons-social-icon-deviantart2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-whatsapp2"></i><span>picons-social-icon-whatsapp2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-snapchat2"></i><span>picons-social-icon-snapchat2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-blogger2"></i><span>picons-social-icon-blogger2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-wordpress2"></i><span>picons-social-icon-wordpress2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-amazon2"></i><span>picons-social-icon-amazon2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-appstore2"></i><span>picons-social-icon-appstore2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-paypal2"></i><span>picons-social-icon-paypal2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-myspace2"></i><span>picons-social-icon-myspace2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-dropbox2"></i><span>picons-social-icon-dropbox2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-windows82"></i><span>picons-social-icon-windows82</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-pinterest2"></i><span>picons-social-icon-pinterest2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-soundcloud2"></i><span>picons-social-icon-soundcloud2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google-drive2"></i><span>picons-social-icon-google-drive2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-android2"></i><span>picons-social-icon-android2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-behance2"></i><span>picons-social-icon-behance2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-instagram2"></i><span>picons-social-icon-instagram2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-ebay2"></i><span>picons-social-icon-ebay2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google-plus2"></i><span>picons-social-icon-google-plus2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-github2"></i><span>picons-social-icon-github2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-stackoverflow2"></i><span>picons-social-icon-stackoverflow2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-spotify2"></i><span>picons-social-icon-spotify2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-stumbleupon2"></i><span>picons-social-icon-stumbleupon2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-visa2"></i><span>picons-social-icon-visa2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-mastercard2"></i><span>picons-social-icon-mastercard2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-amex2"></i><span>picons-social-icon-amex2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-ios2"></i><span>picons-social-icon-ios2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-osx2"></i><span>picons-social-icon-osx2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-evernote2"></i><span>picons-social-icon-evernote2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-yelp3"></i><span>picons-social-icon-yelp3</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-yelp4"></i><span>picons-social-icon-yelp4</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-medium2"></i><span>picons-social-icon-medium2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-slack2"></i><span>picons-social-icon-slack2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-vine2"></i><span>picons-social-icon-vine2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-edge2"></i><span>picons-social-icon-edge2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-outlook2"></i><span>picons-social-icon-outlook2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-pencilcase2"></i><span>picons-social-icon-pencilcase2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-play2"></i><span>picons-social-icon-play2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-icloud2"></i><span>picons-social-icon-icloud2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-google-inbox2"></i><span>picons-social-icon-google-inbox2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-periscope2"></i><span>picons-social-icon-periscope2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-blackberry2"></i><span>picons-social-icon-blackberry2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-viber2"></i><span>picons-social-icon-viber2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-fb_messenger2"></i><span>picons-social-icon-fb_messenger2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-wechat2"></i><span>picons-social-icon-wechat2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-gmail2"></i><span>picons-social-icon-gmail2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-airbnb2"></i><span>picons-social-icon-airbnb2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-angellist2"></i><span>picons-social-icon-angellist2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-uber2"></i><span>picons-social-icon-uber2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-safari2"></i><span>picons-social-icon-safari2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-firefox2"></i><span>picons-social-icon-firefox2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-opera2"></i><span>picons-social-icon-opera2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-bing2"></i><span>picons-social-icon-bing2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-reddit2"></i><span>picons-social-icon-reddit2</span></a>
          </li>
          <li>
            <a href="#"><i class="picons-social-icon-producthunt2"></i><span>picons-social-icon-producthunt2</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>  
