<footer class="page-footer">
    <div class="container">
        <div class="row section">
            <div class="col l6 s12">
                <h5 class="white-text">World map</h5>
                <p class="grey-text text-lighten-4">World map, world regions, countries and cities.</p>
                <div id="world-map-markers"></div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Projects by Country</h5>
                <p class="grey-text text-lighten-4">A sample polar chart to show project by country.</p>
                <div id="polar-chart-holder">
                    <canvas id="polar-chart-country" width="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2020 <a class="grey-text text-lighten-4" href="https://www.google.com/search?q=project+management&oq=project+man&aqs=chrome.1.69i57j0l7.4308j0j7&sourceid=chrome&ie=UTF-8" target="_blank">ProjectManagment</a> All rights reserved.
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://abhi.com/">AbhiVaghasiya</a></span>
        </div>
    </div>
</footer>
